@import "tailwindcss";

@plugin "daisyui" {
  themes: ["light", "dark"];
  exclude: rootscrollgutter;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* breakpoint */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 90rem;

  /* radius */
  --radius-10: 0.625rem;
  --radius-20: 1.25rem;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: "light";

  --color-base-content: #231f20;
  --color-base-100: #FAF9F9;
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);


  --color-primary: #33A3DC;
  --color-primary-content: #faf9f9;

  --color-secondary: #7D7A7A;
  --color-secondary-content: oklch(98% 0.01 200);

  --color-neutral: #C9AA94;
  --color-neutral-content: #231f20;

  --color-accent: #b8b8b8;
  --color-accent-content: #f8f6f7;

  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);

  --color-success: #4CAF50;
  --color-success-content: #FAF9F9;

  --color-warning: #FFC107;
  --color-warning-content: #231F20;

  --color-error: #ff5861;
  --color-error-content: #FAF9F9;

 /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: "dark";

  --color-base-content: #E6E6E6;
  --color-base-100: #1A1B1E;
  --color-base-200: oklch(23.26% .014 253.1);
  --color-base-300: oklch(21.15% .012 254.09);

  --color-primary: #4FB8E8;
  --color-primary-content: #0D1117;

  --color-secondary: #A7A7A7;
  --color-secondary-content: #0D1117;

  --color-neutral: #8B6E59;
  --color-neutral-content: #E6E6E6;

  --color-accent: #6E6E6E;
  --color-accent-content: #FAFAFA;

  --color-info: oklch(70% 0.2 220);
  --color-info-content: #0D1117;

  --color-success: #3FAF48;
  --color-success-content: #FAFAFA;

  --color-warning: #E0A72E;
  --color-warning-content: #0D1117;

  --color-error: #FF6B72;
  --color-error-content: #FAFAFA;

   /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

html {
  font-family: var(--font-estedad);
  scroll-behavior: smooth;
}

svg {
  flex-shrink: 0;
}

:lang(en) {
  font-family: var(--font-lato);
}


@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
}


img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-neutral-content);
  background: var(--color-neutral)
}

::selection {
  color: var(--color-neutral-content);
  background: var(--color-neutral)
}

:root {
  transition:
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}